<section class="jumbotron text-center">
    <div class="container">
        <img class="minois" src="photo_360x180.jpg" alt="Photo Thierry">
        <h1 class="jumbotron-heading">
            <strong>Thierry Charriot</strong>
        </h1>
        <p class="lead text-muted display-4">Intégrateur Web.</p>
        <p>
            <a class="btn btn-success btn-lg" href="Cv_Thierry_Charriot_Dev.pdf" download role="button">Télécharger mon CV !</a>
        </p>
    </div>
    <!-- /container -->
</section>